@using Vzah.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Areas/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Areas/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Areas/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Areas/Content/dist/css/style.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-bg">
        <div class="container login-wrapper p-0">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="login-logo">
                        <a href="/Home/Index">
                            <img src="~/Areas/Content/dist/img/logo.png">
                        </a>
                    </div>
                    <!-- /.login-logo -->
                    <div style="height: 500px;display: flex;">
                        <div class="form-container">
                            <div class="login-box-body">
                                <h1>Login to Your Account</h1>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group has-feedback">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" ,@placeholder = "User Name" })
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group has-feedback">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <button type="submit" class="btn-primary-org">Sign In</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /.login-box-body -->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-0">
                    <div class="login-bg-img">
                        <div class="bg-content">
                            <div>
                                <h1>Lorem Ipsum</h1>
                                <p>
                                    Signup and discover
                                    a new places to visit.
                                </p>
                                <div class="link">
                                    <p>Don’t have an account ? <a href="">@Html.ActionLink("Register as a new user", "Register")</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Areas/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Areas/Content/plugins/iCheck/icheck.min.js"></script>
</body>
</html>

<script>

    $('#UserName').keypress(function (e) {
        if (e.which === 32)
            return false;
    });
</script>
